<include file="Public/admin_header"/>

<!-- BEGIN CONTAINER -->
<div class="page-container">

    <include file="Public/admin_nav"/>
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="main-page" >
            <h1><img src="__PUBLIC__/assets/img/ur/2017HOT.jpg"></h1> </div>

    </div>
    <!-- END PAGE -->

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <!--<div class="footer-inner">-->
        <!--2013 &copy; Metronic by keenthemes.-->
    <!--</div>-->
    <div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
    </div>
</div>
<!-- END FOOTER -->

<include file="Public/admin_script"/>

