<include file="Public/admin_header"/>

<!-- BEGIN CONTAINER -->
<div class="page-container">

    <include file="Public/admin_nav"/>
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="devcondition-page">
            <div class="col-md-12">

                <form class="form-horizontal myclass" action="{:U('Demo/index/test')} " method="POST">
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-globe"></i>开发毛利润报表</div>
                            <div class="tools">
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-group" >
                                <label for="department" class="col-sm-1 control-label" >部门</label>
                                <div class="col-sm-2 " >
                                    <select  name="department" class="form-control" id="dev-department">
                                        <option value=""></option>
                                        <option value="1">运营1部</option>
                                        <option value="2">运营2部</option>
                                        <option value="3">运营3部</option>
                                        <option value="5">运营5部</option>
                                        <option value="6">运营6部</option>
                                        <option value="7">运营7部</option>
                                    </select>

                                </div>
                                <label for="salername" class="col-sm-1 control-label" >业绩归属人</label>
                                <div class="col-sm-2" >
                                    <select name="salername" id="dev-salername-select" class="form-control">
                                        <option value="">All默认</option>
                                    </select>
                                </div>


                                <div class="col-sm-2">
                                    <select name="DateFlag" class="col-sm-2 form-control">
                                        <option value="1">发货时间</option>
                                        <option value="0">交易时间</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="date" name="BeginDate" class="form-control" required/>
                                </div>
                                <div class="col-sm-2">
                                    <input type="date" name="EndDate" class="form-control" required/>
                                </div>
                                <div class="col-sm-1" >
                                    <input  type="submit" class="btn btn-default btn-primary btn-lg btn-block"  value="查询">
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </div><!--开发-->

    </div>
    <!-- END PAGE -->

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        2013 &copy; Metronic by keenthemes.
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
    </div>
</div>
<!-- END FOOTER -->

<include file="Public/admin_script"/>

