<include file="Public/admin_header"/>

<!-- BEGIN CONTAINER -->
<div class="page-container">

    <include file="Public/admin_nav"/>
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="row exchange-rate" >
            <div class="col-md-12 ">
                <form class="form-horizontal ">
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-globe"></i>汇率管理</div>
                            <div class="tools">
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-group" >
                                <label  class="col-sm-1 control-label" >销售汇率</label>
                                <div class="col-sm-2" >
                                    <input  type="text" name="SalerRate" class="form-control"  id="salerrate" placeholder="{$rate[0]['salerrate']}">

                                </div>
                                <div class="col-sm-1" >
                                    <input  name="button" type="button" class="btn btn-default btn-primary btn-lg btn-block"  id="save-salerrate" value="保存">
                                </div>
                            </div>
                            <div class="form-group">

                                <label  class="col-sm-1 control-label" >开发汇率</label>
                                <div class="col-sm-2" >
                                    <input  type="text" name="DevRate" class="form-control" id="devrate"  placeholder="{$rate['devrate']}">
                                </div>
                                <div class="col-sm-1" >
                                    <input  name="button" type="button" class="btn btn-default btn-primary btn-lg btn-block" id="save-devrate" value="保存">
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div> <!--汇率-->

    </div>
    <!-- END PAGE -->

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        2013 &copy; Metronic by keenthemes.
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
    </div>
</div>
<!-- END FOOTER -->

<include file="Public/admin_script"/>

