<include file="Public/admin_header"/>

<!-- BEGIN CONTAINER -->
<div class="page-container">

    <include file="Public/admin_nav"/>
    <!-- BEGIN PAGE -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="row page">
            <div class="col-md-12">
                <form class="form-horizontal myclass"  action="{:U('Home/Product/index')} " method="post">
                    <div class="portlet box red">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-globe"></i>销售毛利报表</div>
                            <div class="tools">
                                <!--<a  href="{:U('Home/Product/showUploadForm')}">退款费用</a>|-->
                                <!--<a  href="{:U('Home/Product/diebasefee')}">死库费用</a>-->
                                <a href="javascript:;" class="reload"></a>
                                <a href="javascript:;" class="remove"></a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="form-group" >
                                <label for="department" class="col-sm-1 control-label" >部门</label>
                                <div class="col-sm-2 " >
                                    <select  name="department" class="form-control" >
                                        <!--id="department"-->
                                        <option value=""></option>
                                            <volist name="department" id="vo"  >
                                                <option value="{$key}">{$vo}</option>
                                            </volist>

                                    </select>

                                </div>
                                <label for="pingtai" class="col-sm-1 control-label" >平台</label>
                                <div class="col-sm-2 " >
                                    <select  name="pingtai" class="form-control">
                                        <option value=""></option>

                                        <volist name="pingtai" id="vo">

                                            <option value="{$vo}">{$vo}</option>
                                        </volist>
                                    </select>

                                </div>
                                <label for="saler" class="col-sm-1 control-label" >销售员</label>
                                <div class="col-sm-2" >
                                    <select name="saler"  class="form-control"   id="department-user-select">
                                        <option value=""></option>
                                        <volist name="saler" id="vo">
                                            <option value="{$vo}">{$vo}</option>
                                        </volist>

                                    </select>
                                </div>
                                <label for="StoreName" class="col-sm-1 control-label" >出货仓库</label>
                                <div class="col-sm-2" >
                                    <select name="StoreName[]"  class="form-control selectpicker"  multiple data-actions-box="true" >
                                        <option value="义乌仓">义乌仓</option>
                                        <option value="FBW仓库">FBW仓库</option>
                                        <option value="AMZ上海仓">AMZ上海仓</option>
                                        <option value="FBA仓库">FBA仓库</option>
                                        <option value="4PXUS">4PXUS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <select name="DateFlag" class="col-sm-2 form-control">
                                    <option value="1">发货时间</option>
                                    <option value="0">交易时间</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="date" name="BeginDate" class="form-control" required/>

                            </div>
                            <div class="col-sm-2">
                                <input type="date" name="EndDate" class="form-control" required/>

                            </div>
                            <div class="form-group">
                                <label  class="col-sm-1 control-label" >账号</label>

                                <div class="col-sm-2 " >
                                    <select  name="suffix[]" class="form-control selectpicker"  multiple data-actions-box="true">

                                            <volist name="suffix" id="s">
                                                <option  value="{$s}">{$s}</option>
                                            </volist>
                                        <option  value="">测试</option>


                                    </select>


                                </div>

                                <div class="col-sm-1" >
                                    <input  name="" type="submit" class="btn btn-default btn-primary btn-lg btn-block"  id="form-sale-btn" value="查询">
                                </div>


                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div><!--销售-->

    </div>
    <!-- END PAGE -->

</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="footer-inner">
        2013 &copy; Metronic by keenthemes.
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
    </div>
</div>
<!-- END FOOTER -->

<include file="Public/admin_script"/>

