
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="http://libs.baidu.com/jquery/1.10.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/bootstrap-select.min.js"></script>
<script src="__PUBLIC__/js/moment.min.js"></script>
<script src="__PUBLIC__/js/zh-cn.js"></script>
<script src="__PUBLIC__/js/sidebar.js"></script>
<script src="__PUBLIC__/js/jquery_chained.js"></script>


<script type="text/javascript">
    $(function(){
        $("#series").chained("#mark");
    });
</script>

<script>
    $(document).ready(function(){
        //根据部门 拿到对应的销售员
        $('#department').change(function(){

            var opration = $(this).children('option:selected').val();
            $.ajax({
                url:"{:U('home/Department/fetch_userde')}",
                type:'GET',
                data:{'opration':opration},
                success:function(data){
                    var haha = eval('(' + data + ')'); //字符串转 对象
//                 var haha = JSON.parse(data);
                    $('#department-user-select').empty();
                    $('#department-user-select').append("<option value='"+''+"'>"+''+"</option>");
                    $.each(haha,function(index,n){
                        $('#department-user-select').append("<option value='"+n.username+"'>"+n.username+"</option>"); //为Select追加一个Option(下拉项)
                    });
                    $('#department-user-select').attr("class:'form-control selectpicker'");
                }

            })
        })


        //显示汇率管理页面
        $('#exchangeRate-btn').click(function(){
            $('.page').hide();
            $('.devcondition-page').hide();
            $.ajax({
                url:"{:U('home/ExchangeRateM/as_rate')}",
                success:function(data){
                    var da =JSON.parse(data);
                    $('#salerrate').attr('placeholder',da[0].salerrate);
                    $('#devrate').attr('placeholder',da[0].devrate);
                    $('#salerrate').attr('value',da[0].salerrate);
                    $('#devrate').attr('value',da[0].devrate);
                    //data可能是xmlDoc、jsonObj、html、text等等
                    //this;  //调用本次ajax请求时传递的options参数
                }
            })
            $('.exchange-rate').show();


        });
        //更新销售汇率
        $('#save-salerrate').click(function(){
            var darate =$("input[name='SalerRate']").val();
//            console.log(darate);
            $.ajax({
                type:'POST',
                url:"{:U('home/ExchangeRateM/update_salerrate')}",
                data:{'salerrate':darate},
                success:function(msg){
                    alert(msg);
                }

            })
        });

        //更新开发汇率
        $('#save-devrate').click(function(){
            var devrate =$("input[name='DevRate']").val();
            $.ajax({
                type:'post',
                url:"{:U('home/ExchangeRateM/update_devrate')}",
                data:{'devrate':devrate},
                success:function(msg){
                    alert(msg);
                }

            })
        });


        //nav切换
        $('#saler-netprofit-btn').click(function(){

            $('.page').show();
            $('.exchange-rate').hide();
            $('.devcondition-page').hide();

        })

        //开发毛利表
        $('#dev-netprofit-btn').click(function(){

            $('.page').hide();
            $('.exchange-rate').hide();
            $('.devcondition-page').show();
            $('#dev-salername-select').empty();
//
        })

        //开发模块加上部门 根据部门 加上 对应的开发

        $('#dev-department').change(function(){

            var opration = $(this).children('option:selected').val();
            $('#dev-salername-select').empty();
            $.ajax({
                url:"{:U('home/Department/dev_department')}",
                type:'GET',
                data:{'opration':opration},
                success:function(data){
                    var haha = eval('(' + data + ')'); //字符串转 对象
//                 var haha = JSON.parse(data);
                    $('#dev-salername-select').append("<option value='"+''+"'>"+''+"</option>");
                    $.each(haha,function(index,n){

                        $('#dev-salername-select').append("<option value='"+n.username+"'>"+n.username+"</option>"); //为Select追加一个Option(下拉项)
                    });
                }

            })
        })




    });
</script>
